
.idea/bioptim_exo.iml

.idea/inspectionProfiles/

.idea/

tracking/__pycache__/

tracking/save/

kinova_tracking/inverse_kinematics_run.py

kinova_tracking/inverse_kinematics.py

kinova_tracking/__pycache__/

models/__pycache__/

event_tracking/ocp_graph.gv.pdf

event_tracking/ocp_graph.gv

data/__pycache__/

event_tracking/__pycache__/

kinova_tracking/solution/

kinova_tracking/video/

event_tracking/save/

sandbox/

lib/__pycache__/
